<!-- start: LOCK SCREEN -->
<div class="row">
    <div class="col-md-12">
        <div class="center-block col-md-2">
        </div>
        <div class="center-block col-md-8">
            <h3 class="text-azure">You'are welcome, do have an amazing Experience</h3>
        </div>
        <div class="center-block col-md-2">
    </div>
</div>
<hr class="" />
<div class="lock-screen">

    <div class="box-ls">
        <img alt="" src="assets/images/avatar-1-xl.jpg" class="img-rounded" />
        <div class="user-info">
            <h4>Norms Hardey</h4>
            <span>tajudeen@normsmiway.com</span>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="Password to unlock" class="form-control" name="password" ng-model="password" compare-to="12345">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <a ui-sref="app.dashboard">
                            </a>
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </span>

                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- end: LOCK SCREEN -->
