<!-- start: SEARCH FORM -->
<div class="search-form">
    <a class="s-open" href="#">
        <i class="ti-search"></i>
    </a>
    <form class="navbar-form" role="search">
        <a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
            <i class="ti-close"></i>
        </a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
            <button class="btn search-button" type="submit">
                <i class="ti-search"></i>
            </button>
        </div>
    </form>
</div>
<!-- end: SEARCH FORM -->

<!-- start: MAIN NAVIGATION MENU -->
<!--<div class="navbar-title">
    <span >Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ng-class="{'active open':$state.includes('registration')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Registration </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="registration.individual">
                    <span class="title"> Individual Registration Form </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="registration.ngo">
                    <span class="title"> NGO Registration Form </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="registration.collationer">
                    <span class="title">Collation Body Registration Forms</span>
                </a>
            </li>
        </ul>
    </li>
</ul>-->
<!-- end: MAIN NAVIGATION MENU -->