
<div class="app-content" ng-class="{loading: loading}">
    <!-- top navbar -->
    <header data-ng-include=" 'assets/views/help-pages/partials/costume-topbar.html' " class="navbar navbar-default navbar-static-top hidden-print"></header>
    <!-- / top navbar -->
    <!--<!-- main content -->
    <div data-ng-include=" 'assets/views/help-pages/partials/main-content.html'"></div>
    <!-- / main content -->
</div>

<!--<!-- footer -->
<!--<footer data-ng-include=" 'assets/views/partials/footer.html' " class="hidden-print"></footer>-->
<!-- / footer -->
